<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="fwd" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="https://192.168.255.128/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
